@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --background: #081b29;
}

body {
    background: repeating-linear-gradient(
      0deg,
      #0E0D0E 25%,
      #0E0D0E 50%,
      #171819 50%,
      #171819 75%
    );
  background-size: 10px 10px;
  color: #ededed;
}

section.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

section.hero > div.hero-content {
    max-width: 630px;
}

section.hero > div.hero-splash {
    height: 100vh;
    width: 50%;
}

section.hero > div.hero-content > h1 {
    position: relative;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

section.hero > div.hero-content > h1,
section.hero > div.hero-content > h3,
section.hero > div.hero-content > p {
    top: 50px;
    opacity: 0;
    animation: slideUp 1.5s ease forwards;
    animation-delay: var(--delay, 0.2s);
}

section.hero > div.hero-content > h3 {
    --delay: 0.33s;
}

section.hero > div.hero-content > p {
    --delay: 0.45s;
}

.glitch {
  position: relative;
}

section.hero > div.hero-content > h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #ffc000;
}

section.hero > div.hero-content > p {
    position: relative;
    font-size: 20px;
    margin: 20px 0 40px;
}

@keyframes slideUp {
    100% {
        top: 0;
        opacity: 1;
    }
}