@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --background: #081b29;
}

body {
    background-color: #081b29;
    color: #ededed;
}

section.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 3%;
}

section.banner {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

span#bin {
    font-size: 3.5em;
    width: calc(2 * 100vw);
    height: calc(2 * 100vw);
    display: block;
    border-radius: 10px;
    background-color: #5e3685;
    color: rgba(0,0,0, 0.05);
    margin: 0 auto;
    font-family: 'Ubuntu Mono';
    word-wrap: break-word;
    line-height: 0.8em;
    letter-spacing: 1px;
    overflow: hidden;
    transform: rotate(-20deg);
    user-select: none;
    margin-top: calc(-0.5 * 100vw);
    margin-left: calc(-0.5 * 100vw);
}

section.hero > div.hero-content {
    max-width: 630px;
}

section.hero > div.hero-splash {
    height: 100vh;
    width: auto;
    flex-grow: 1;
    background-color: pink;
}

section.hero > div.hero-splash > span.hero-portrait {
    width: 300px;
    height: 300px;
    background-color: red;
    display: block;
}

section.hero > div.hero-content > h1 {
    position: relative;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

section.hero > div.hero-content > h1,
section.hero > div.hero-content > h3,
section.hero > div.hero-content > p {
    top: 50px;
    opacity: 0;
    animation: slideUp 1.5s ease forwards;
    animation-delay: var(--delay, 0.2s);
}

section.hero > div.hero-content > h3 {
    --delay: 0.33s;
}

section.hero > div.hero-content > p {
    --delay: 0.45s;
}

.glitch {
  position: relative;
}

section.hero > div.hero-content > h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #999;
}

section.hero > div.hero-content > p {
    position: relative;
    font-size: 18px;
    margin: 20px 0 40px;
}

@keyframes slideUp {
    100% {
        top: 0;
        opacity: 1;
    }
}