@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #081b29;
    color: #ededed;
}

section.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

section.hero > div.hero-content {
    max-width: 600px;
}

section.hero > div.hero-content > h1 {
    position: relative;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

section.hero > div.hero-content > h1::before,
section.hero > div.hero-content > h3::before,
section.hero > div.hero-content > p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1.2s ease forwards;
    animation-delay: var(--delay, 0.3s);
}

section.hero > div.hero-content > h3::before {
    --delay: 0.73s;
}

section.hero > div.hero-content > p::before {
    --delay: 0.95s;
}

section.hero > div.hero-content > h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

section.hero > div.hero-content > p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}